/* Grundinställningar för body */
body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Centrera innehållet */
.container {
  flex: 1;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* Stilar för logotypen */
.logo {
  display: block;
  margin: 20px auto;
  max-width: 300px; /* Begränsa bredden till 300px */
  height: auto; /* Automatisk höjd för att bibehålla proportioner */
}

/* Stilar för filterformuläret */
.filter-form {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Gör att raderna kan brytas om skärmbredden är liten */
  gap: 10px; /* Mellanrum mellan filtreringsalternativen */
  justify-content: center; /* Centrera filteralternativen horisontellt */
}

.filter-form select,
.filter-form input[type="submit"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Knappar för datumfilter */
.date-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Gör att knapparna radbryts om de inte får plats */
}

.date-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.date-buttons button.active {
  background-color: #0056b3; /* Mörkare färg för aktiv knapp */
}

.date-buttons button:hover {
  background-color: #0056b3;
}

/* Kryssrutor för kategori och rum */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

/* Stilar för schematabellen */
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.schedule-table th {
  background-color: #f9f9f9;
}

.schedule-table td a {
  color: #ff5e57;
  text-decoration: none;
  font-weight: bold;
}

.schedule-table td a:hover {
  text-decoration: underline;
}

/* Sidfot */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #d2dae2;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

footer p {
  margin: 0;
}

/* Filtreringsknappar och kollapsknapp */
.filter-button {
  background-color: #007bff; /* Blå färg */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 2px;
}

.filter-button.active {
  background-color: #0056b3; /* Mörkare blå för den aktiva knappen */
}

.filter-button:hover {
  background-color: #0056b3;
}

.collapse-button {
  background-color: #28a745; /* Grön färg för collapsable-knappen */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.collapse-button:hover {
  background-color: #218838; /* Mörkare grön vid hover */
}

/* Klass för att dölja element */
.hidden {
  display: none;
}
